<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License

Copyright 2013 Gravidence.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:**/*.properties"/>
    
    <bean id="applicationInfo" class="org.gravidence.gravifon.resource.bean.ApplicationInfoBean">
        <property name="appName" value="${org.gravidence.gravifon.application.name}"/>
        <property name="appDescription" value="${org.gravidence.gravifon.application.description}"/>
        <property name="appVersion" value="${org.gravidence.gravifon.application.version}"/>
        <property name="apiVersion" value="${org.gravidence.gravifon.api.version}"/>
    </bean>
    
    <bean id="dbClientRequestFilter" class="org.gravidence.gravifon.filter.LogCouchDBClientRequestFilter"/>
    <bean id="dbClientResponseFilter" class="org.gravidence.gravifon.filter.LogCouchDBClientResponseFilter"/>
    
    <bean id="dbClient" class="org.gravidence.gravifon.db.CouchDBClient">
        <property name="logRequestFilter" ref="dbClientRequestFilter"/>
        <property name="logResponseFilter" ref="dbClientResponseFilter"/>
        
        <property name="url" value="${org.gravidence.gravifon.db.url}"/>
    </bean>
    
    <bean id="usersDBClient" class="org.gravidence.gravifon.db.UsersDBClient">
        <property name="dbClient" ref="dbClient"/>
    </bean>
    
    <bean id="scrobblesDBClient" class="org.gravidence.gravifon.db.ScrobblesDBClient">
        <property name="dbClient" ref="dbClient"/>
    </bean>
    
    <bean id="tracksDBClient" class="org.gravidence.gravifon.db.TracksDBClient">
        <property name="dbClient" ref="dbClient"/>
    </bean>
    
    <bean id="artistsDBClient" class="org.gravidence.gravifon.db.ArtistsDBClient">
        <property name="dbClient" ref="dbClient"/>
    </bean>
    
    <bean id="albumsDBClient" class="org.gravidence.gravifon.db.AlbumsDBClient">
        <property name="dbClient" ref="dbClient"/>
    </bean>

</beans>
